{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

        


{% placeholder "feature" %}

<!-- Products List Start-->
<div class="page-content p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section class="section post-section-1 m-b-30 p-r-15">
                    <br><br>
            	{% placeholder "content" %}
                </section>
            </div>
            <div class="col-md-3" style="padding-top: 65px">

                {% placeholder "sidebar" %}
            </div>
        </div>
    </div>
</div>
{% placeholder "prefooter" %}




<!-- Products List End-->

{% endblock %}

