{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

        


{% placeholder "feature" %}

    <!-- **Main Container** -->
    <div class="main-container">
    
        <!-- **Content Full Width** -->
        <div class="content content-full-width">
            	{% placeholder "content" %}


                {% placeholder "sidebar" %}
            </div>
        </div>
{% placeholder "prefooter" %}




<!-- Products List End-->

{% endblock %}

