{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

        



    <!-- **Breadcrumb** -->
    <div class="breadcrumb">
        <div class="container">
            <a href="#" title=""> Home </a>
            <span class="arrow"> </span>
            <span class="current-crumb"> {% page_attribute "page_title" %} </span>
        </div>  <!-- **Breadcrumb - End** -->       
    </div>
    <!-- **Main Container** -->
    <div class="main-container">
    
        <!-- **Content Full Width** -->
        <div class="content content-full-width">
            	{% placeholder "content" %}


                {% placeholder "sidebar" %}
            </div>
        </div>
{% placeholder "prefooter" %}




<!-- Products List End-->

{% endblock %}

