{% load i18n cms_tags sekizai_tags %}
        <div id="newsletter">
            <h2> {{form_info.name}} </h2>
            <form action="/es/#quick_contact" method="post">{% csrf_token %} 
            {% if not form_info %}
            <p class="" >{% trans "Thank you for contacting us." %}</p>
             {% else %}
                <input name="name" type="text" onblur="this.value=(this.value=='') ? "{% trans 'Nombre' %}" : this.value;" onfocus="this.value=(this.value=='{% trans "Nombre" %}') ? '' : this.value;" value="{% trans 'Nombre:' %}" />
                <input name="email" type="text" onblur="this.value=(this.value=='') ? '{% trans "Email" %}' : this.value;" onfocus="this.value=(this.value=='{% trans "Email" %}') ? '' : this.value;" value="{% trans 'Email' %}" />
                <input name="submit" type="submit" value="{% trans 'Suscribirse' %}" />
            {% endif %}
            </form>
        </div>

