{% load i18n cms_tags sekizai_tags easy_thumbnail  %}

            <p> {{instance.message}} </p>
            
            <div class="hr_invisible"> </div>
            
            {% for person in team %}

            <div class="column one-fourth">
                <div class="team">                    
                    <a href="" title="" class="rounded-img border alignleft"> <img src="{% easy_thumbnail person.image 204x204 crop %}" alt="" title="" /> </a>
                </div>
            </div>
            
            <div class="column one-fourth {% if forloop.counter|divisibleby:2 %} last {% endif %}">
                <div class="team">                    
                    <h1> {{person.name}} </h1>
                    <span class="role"> <strong>{% trans "Designation" %}:</strong> {{person.position}} </span>
                    <p> {{person.message}} </p>
                </div>
            </div>
            
            {% if forloop.counter|divisibleby:2 %} <div class="hr_invisible"> </div> {% endif %}
            
          {% endfor %}

