{% load  i18n %}
{% load cms_tags %}


                        <div class='navfirster'>
                            <h1 class="assisth3">
                                <a class='wide-link' href='{% page_url "services" %}' >
                                   {% trans "Services" %}

                                </a>
                            </h1>
                        </div>
                        <ul class="middcont addheight" id="Ul1">
                            
                    {% for type in item_type_list %}
                    <div class="asstitle">
                        <h3 class="assisth3"> {{ type.name }}</h3>
                    </div> 
                        {% for item in type.item_set.active %}
                        <li class=''>
                            <em class="h3pic">&nbsp;</em> <a href="{% page_url "services" %}{{ item.slug }}"><span class="assisth3"> {{ item.title }}</span></a>
                        </li>
                        {% endfor %}
                    {% endfor %}

  
                    
                

     

                            <a class='room_switch' href='{% page_url "comparison" %}' >
                                <span>{% trans "Compare" %}</span><em></em>
                            </a>
                            
                        </ul>
		            </div>



