{% load easy_thumbnail amenities i18n %}

               <!-- Rooms List Start -->
                <div class="rooms-list-box clearfix">
                    <div class="row-table row-flush">
                        <div class="col-lg-4  col-md-4 col-sm-4 col-xs-12 rooms-pic">

                        <a href="{{rooms.room_code}}">
                            <img src="{% easy_thumbnail rooms.featured_image 250x275 crop %}" alt="bedroom-1" class="img-responsive img-resp-custom">
                        </a>
                        </div>
                        <!-- Detail Body -->
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 detail-body">
                            <!-- Header -->
                            <header>
                                <div class="pull-left">
                                    <!-- Title -->
                                    <h5 class="title">
                                        <a href="{{rooms.room_code}}">{{ rooms.title }}</a>
                                    </h5>
                                    <!-- Custom List -->
                                    <ul class="custom-list">
                                        <li><a href="{{rooms.room_code}}">
                                            {% for beds in rooms.bed_types.all %}
                                            {{beds.quantity}} {{beds.bed_types}}
                                            {% endfor %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{rooms.room_code}}"> / {{rooms.total_sleepers}} People</a> 
                                        </li>

                                    </ul>
                                </div>
                            </header>
                            <!-- paragraph -->
                            <p>{{ rooms.short_description|truncatechars:180 }}</p>
                            <!-- Facilities List -->
                            <ul class="facilities-list">
                                {% amenities rooms as all_amenities %}
                                {% for ameni in all_amenities %}
                                {% if forloop.counter < 8 %}
                                <li>
                                    <i class="fa {{ ameni.1 }}"></i>
                                    <span>{{ ameni.0|truncatechars:12 }}</span>
                                </li>
                                {% endif %}
                                {% endfor %}
                                <li>
                                    <i class="fa fa-angle-double-right"></i>
                                    <span>{% trans "more..." %}</span>
                                </li>
                            </ul>
                            <!-- Btn Div -->
                            <div class="btn-div">
                                <a href="{{rooms.room_code}}">
                                    <span class="read-more">{% trans "View more" %}</span>
                                    <span class="icon-arrow-right2 bg-danger">
                                        <i class="fa  fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Page navigation Start-->












