{% load i18n cms_tags easy_thumbnail sekizai_tags %}

<div id="home-slider">
    <div class="slider-container">
    
        <div class="slider-wrapper theme-default">    
            <div id="slider" class="nivoSlider">
                {% for slide in slide_list %}
                <img src="{% easy_thumbnail slide.image 1200x555 crop %}" alt="" title="#htmlcaption{{ forloop.counter }}" />
                {% endfor %}
            </div>
            {% for slide in slide_list %}
            <div id="htmlcaption{{ forloop.counter }}" class="nivo-html-caption">
                 <h2>{{slide.title}} </h2>
                <p> {{slide.message}} </p>
                <a href="popular-procedures.html" title=""> <span> Read More </span> </a>
            </div>
            {% endfor %}

                    
        </div>
        
    </div>
</div><!-- **Home Slider - End** -->


