
{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags easy_thumbnail social_share i18n %}

{% block content %}

    <div class="breadcrumb">
        <div class="container">
            <a href="#" title=""> Inicio </a>
            <span class="arrow"> </span>
            <span class="current-crumb"> Blog </span>
        </div>  <!-- **Breadcrumb - End** -->           
    </div>



<div class="main-container">
    
        <!-- **Content Full Width** -->
        <div class="content content-full-width">  
        
            <!-- **Blog Header** -->
            <div class="blog-header">
                <ul class="cat-menu">
                    <li><a href="#" title="" rel="toggle[categories]"> Categories <span class="arrow-down"> </span> </a></li>
                </ul>
                <div id="categories" class="categories-list">      
                    <ul>
                        {% for category in categories %}
                        <li class="active"> <a href="/blog?category={{category.id}}" title=""> {{category.name}}</a> </li>
                        {% endfor %}
       
                    </ul>                                       
                </div>
                

            </div><!-- **Blog Header - End** -->
            
            <!-- **Blog Post** -->
            {% for article in object_list %}
            <div class="blog-post">
                <div class="post-title">
                    <h2> <a href="/blog/{{article.slug}}" title=""> {{article.title}} </a> </h2>
                    <a href="/blog/{{article.slug}}" class="tooltip-top readmore" title="Leer más"> </a>
                    <span class="arrow"> </span>
                </div>
                
                <div class="post-details">                
                    <div class="date">
                        <span class="day"> {{article.publishing_date|date:"d"}} </span>
                        <span class="date-group">
                            <span class="month"> {{article.publishing_date|date:"M"}} </span>
                            <span class="year"> {{article.publishing_date|date:"Y"}} </span>
                        </span>
                        <span class="arrow"> </span> 
                    </div>                    
<!--                     <div class="post-comments">
                        <a href="blog-single.html" title=""> <span class="count"> 18 </span> <span class="comment"> Comments </span> </a> 
                        <span class="arrow"> </span>                       
                    </div>    -->
                </div>
                
                <div class="post-content">
                    <div class="post-thumb">
                        <a href="/blog/{{article.slug}}" title=""> <img src="{% easy_thumbnail article.featured_image 850x340 crop %}" alt="" title="" /> </a>
                    </div> 
                    <p> {{article.article_content|safe|truncatechars:500}} </p>
                </div> 
            </div><!-- **Blog Post - End** -->

            {% endfor %}

        <div class="hr_invisible"> </div>

                {% include "blog/pagination.html" %}



        <div class="hr_invisible"> </div>

            </div>
        </div>






{% endblock %}







