 {% load i18n cms_tags easy_thumbnail sekizai_tags page_meta_tags %}

            <div class="column one-fourth">
                <div class="widget widget_recent_entries">
                    <h2 class="widgettitle"> <span> {% trans "Featured Articles" %} </span> </h2>
                    <ul>
                        {% for article in featured_articles %}
                        <li> 
                            <a href="/blog/{{article.slug}}" title=""> <img src="{% easy_thumbnail article.featured_image 54x54 crop %}" alt="" title="" /> </a>
                            <h6> <a href="/blog/{{article.slug}}" title=""> {{article.title|truncatechars:20}} </a> </h6>
                            <p> {{article.article_content|truncatechars:50}} </p>
                        </li>
                        {% empty %}
                        <p>{% trans "No items available" %}</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>

