 {% load i18n cms_tags easy_thumbnail sekizai_tags page_meta_tags %}
<h4 class="text-block text-bold text-med m-b-40">{% trans "Featured Articles" %} </h4>
                    {% for article in featured_articles %}
                    <div class="image-card image-card-9">
                        <div class="image">
                            <a href="{{article.slug}}">
                                <img src="{% easy_thumbnail article.featured_image 70x70 crop %}" alt="{{article.title}}" />
                            </a>
                        </div>
                        <div class="content">
                            <h3 class="title">
                                <a href="{{article.slug}}">{{article.title}}</a>
                            </h3>
                            <span class="subtitle">{{article.publishing_date|date}}</span>
                        </div>
                    </div>
                        {% empty %}
                        <p>{% trans "No items available" %}</p>
                        {% endfor %}
