 {% load i18n cms_tags easy_thumbnail sekizai_tags page_meta_tags %}


                <h4 class="title"> <span> {% trans "Recent Articles" %} </span> </h4>
                <ul class="flower-bullet green">
                    {% for article in article_list %}
                    {% if request.path != "/"|add:request.LANGUAGE_CODE|add:"/"|add:instance.current_page|add:"/"|add:article.slug|add:"/" %}
                    <li> <a href="/{{request.LANGUAGE_CODE}}/{{instance.current_page}}/{{article.slug}}" title=""> {{article.title}} </a> </li>
                    {% endif %}
                    {% empty %}
                    <p>{% trans "No items available" %}</p>
                    {% endfor %}
                </ul>


