 {% load i18n cms_tags easy_thumbnail sekizai_tags page_meta_tags %}


        <h1 class="title"> <span> {% trans "Articulos Recientes" %} </span> </h1>
               
            <div class="jcarousel-skin-tango">
                <div id="mycarousel">  
                    <ul class="related-posts jcarousel-list jcarousel-list-horizontal">
                        {% for article in article_list %}
                        <li>
                            <h2> {{article.title|truncatechars:35}} </h2>
                            <a href="/{{request.LANGUAGE_CODE}}/{{instance.current_page}}/{{article.slug}}" title=""> <img src="{% easy_thumbnail article.featured_image 300x120 crop %}" alt="" title="" /> </a>
                            {{article.article_content|safe|truncatechars:120}}  
                        </li>
                        {% endfor %}
                    </ul> 
                </div>
            </div>
