{% load cms_tags %}

{% load  easy_thumbnail  i18n %}
<section id="pricing" class="padding-top">
  <div class="container">
 {% for category in categories %}
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading" style="word-spacing: 5px;">{{category.name}}</h2>
        <hr class="heading_space">
      </div>



      <div class="col-sm-12">
        <div class="price padding-bottom">
          <div class="price_body">
             <ul class="pricing_feature">
             {% for item in category.item_set.active %}
              <li><a style="font-weight: bold">{{item.title}}</a><strong>{{item.price}}</strong>
                <br><p><em>{{item.item_description}}</em></p>
              </li>
              
             {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
<!-- 
      <div class="col-sm-6">
        <div class="price padding-bottom">
          <div class="price_body">
             <ul class="pricing_feature">
              <li>Special Spaghetti  <strong>$40</strong> </li>
              <li>Salmon Filet <strong>$35</strong> </li>
              <li> The Space Chicken <strong>$25</strong> </li>
              <li>Spice Chicken <strong>$20</strong> </li>
              <li>Steaks in Garlic-Lime <strong>$7</strong> </li>
              <li>Salmon Filet <strong>$10</strong> </li>
              <li>yeast muffins<strong>$999</strong> </li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->

<!--     <div class="row">
      <div class="col-md-12">
        <h2 class="heading">Our menu</h2>
        <hr class="heading_space">
      </div> -->
<!--       <div class="col-sm-6">
        <div class="price padding-bottom">
          <div class="price_body">
             <ul class="pricing_feature">
              <li>Zoozoo Chicken  <strong>$40</strong> </li>
              <li>Daeji Bulgogi <strong>$35</strong> </li>
              <li>Chow mein <strong>$100 - $25</strong> </li>
              <li>yeast muffins <strong>$280</strong> </li>
              <li>Crispy Chicken & Vagi Rolls <strong>$786</strong> </li>
              <li>Salmon Filet <strong>$700</strong> </li>
              <li>yeast muffins<strong>$999</strong> </li>
            </ul>
          </div>
        </div>
      </div> -->
  </div>
</section>