{% load i18n cms_tags sekizai_tags %}

            <div class="bot-footer">
                <div class="container">
                    <div class="block-inner p-t-35 p-b-60">
                        <div class="block-left">
                            <span>{{instance.copyright}}</span>
                        </div>
                        <div class="block-right">
                            <div class="quick-link">
                                <ul>{% for link in links %}
                                    <li>
                                        <a href="{{link.url}}">{{link.title}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>