{% load i18n cms_tags sekizai_tags easy_thumbnail  %}

            <h1 class="title"> <span> {{instance.title}} </span> </h1>
            {% for facility in facilities %}
            <div class="column one-half {% if forloop.counter == 2 %} last {% endif %}">
                
                <div class="box-content  ">
                   
                    <a href="{{facility.url}}" title=""> <img src="{% easy_thumbnail facility.image 220x240 crop %}" alt="" title="" class="alignleft" /> </a>
                    <h2> {{facility.title}} </h2>
                    <p> {{facility.message}} </p>
                    <a href="{{facility.url}}" title="Read More" class="tooltip-top readmore"> </a> 
                </div>
            </div>
            {% endfor %}
            <div class="hr_invisible"> </div>
            


