{% load i18n cms_tags sekizai_tags  %}
{% if instance.style == "Short" %}
{% endif %}


                    <h1> {{instance.name}} </h1>  
                    <ul class="contact-details">  
                        {% for branch in branches %}
 
                        <li> <span class="address"> </span> <p> {{branch.address|default_if_none:""}} <br /> {{branch.city|default_if_none:""}}{% if branch.state %}, {{branch.state|default_if_none:""}}{% endif %} <br /> {{branch.country|default_if_none:""}} </p> </li> 
                        {% endfor %}
                        {% for email in emails %}
          
                        <li> <span class="mail"> </span> <p> <a href="mailto:{{email.email}}" title=""> {{email.email}} </a> </p> </li>
                        {% endfor %}
                        {% for phone in phones %}  
                        <li> <span class="phone"> </span> <p> {{phone.phone}} </p> </li>             
                        {% endfor %}
           
                    </ul>
                




