{% load i18n l10n cms_tags sekizai_tags %}
    
    <section class="section bg-white p-t-40 contact-map-section-1">
        <div class="container">
            <h3 class="heading-section text-black text-bold text-med m-b-40">{{instance.title}}</h3>
        </div>
        <div class="controls-map">
            <div class="container">
                <div id="controls-tabs"></div>
            </div>
            <div class="google-map" id="google_map" style="width: 100%; height: 668px;"></div>
        </div>
    </section>

    {% addtoblock 'js' %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
    <script src="/static/vendor/maplacejs/maplace.min.js"></script>
    <script type="text/javascript">
        

!function (i) {
    "use strict";
    i(document).ready(function () {
        var i = [
            {% for branch in branches %}
            {
            lat: {{branch.lat|unlocalize}},
            lon: {{branch.lon|unlocalize}},
            title: "{{branch.city|upper}}",
            html:
                [   "<h3>{{branch.name}}</h3>", "<p>{{branch.description|default_if_none:""}}</p>",
                    "<ul>" +
                    "<li><i class='fa fa-home'></i> {{branch.address|default_if_none:""}}, {{branch.city|default_if_none:""}}, {{branch.state|default_if_none:""}} {{branch.zipcode|default_if_none:""}}</li>" +
                    {% for phone in branch.phone.all %}
                    "<li><i class='fa fa-phone'></i>  {{phone.phone|default_if_none:""}}</li>" +
                    {% endfor %}
                    "</ul>"].join(""),
            icon: "/static/img4/marker.png",
            animation: google.maps.Animation.DROP,
            zoom: {{instance.zoom}}
        }, 
        {% endfor %} 
        ];

        new Maplace({
            locations: i,
            map_div: "#google_map",
            controls_div: '#controls-tabs',
            view_all: false,
            controls_type: "list",
            controls_on_map: !1,
            map_options: {scrollwheel: !1},
            start: 1,
            styles: {
                Night: [{featureType: "all", stylers: [{invert_lightness: "true"}]}],
                Greyscale: [{featureType: "all", stylers: [{saturation: -100}, {gamma: .5}]}],
                "Ultra Light": [{
                    featureType: "landscape",
                    stylers: [{saturation: -100}, {lightness: 65}, {visibility: "on"}]
                }, {
                    featureType: "poi",
                    stylers: [{saturation: -100}, {lightness: 51}, {visibility: "simplified"}]
                }, {
                    featureType: "road.highway",
                    stylers: [{saturation: -100}, {visibility: "simplified"}]
                }, {
                    featureType: "road.arterial",
                    stylers: [{saturation: -100}, {lightness: 30}, {visibility: "on"}]
                }, {
                    featureType: "road.local",
                    stylers: [{saturation: -100}, {lightness: 40}, {visibility: "on"}]
                }, {
                    featureType: "transit",
                    stylers: [{saturation: -100}, {visibility: "simplified"}]
                }, {featureType: "administrative.province", stylers: [{visibility: "off"}]}, {
                    featureType: "water",
                    elementType: "labels",
                    stylers: [{visibility: "on"}, {lightness: -25}, {saturation: -100}]
                }, {
                    featureType: "water",
                    elementType: "geometry",
                    stylers: [{hue: "#ffff00"}, {lightness: -25}, {saturation: -97}]
                }]
            }
        }).Load()
    })
}(jQuery);

    </script>

{% endaddtoblock %}