{% extends "base.html" %}
{% load cms_tags attributes humanize %}

{% load re_paginator easy_thumbnail amenities i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}   

{% render_placeholder event.feature language placeholder_language %}

    <div class="breadcrumb">
        <div class="container">
            <a href="/" title=""> {% trans "Inicio" %}</a>
            <span class="arrow"> </span>
            <a href="/cursos" title=""> {% trans "Clases" %} </a>
            <span class="arrow"> </span>
            <span class="current-crumb"> {{ event.type }} </span>
        <!--     <span class="arrow"> </span>
            <span class="current-crumb"> Popular Procedures </span> -->
        </div>  <!-- **Breadcrumb - End** -->           
    </div>
    <div class="main-container">
    
        <!-- **Content Full Width** -->
        <div class="content content-full-width">  




            <div class="column one-third">
                <img src="{% easy_thumbnail event.featured_image 300x260 crop %}" alt="" title="" />
                <div class="box-content-with-design">
                    <h3> {{ event.title }} </h3>
                    <ul class="flower-bullet green">
                        {% attributes event as all_amenities %}
                        {% for ameni in all_amenities %}
                        <li> {{ameni.0}} </li>
                        {% endfor %}
                    </ul>
                    <h3> {% trans "Fechas" %} </h3>
                                        
                    <table border="0" cellpadding="0" cellspacing="0" class="price-table">
                        <tbody> 
                            <tr>
                                <td class="odd">Inicio:</td>
                                <td class="even"> {{event.start|date}} </td>
                            </tr>
                            <tr>
                                <td class="odd">Desde:</td>
                                <td class="even"> {{event.start|time}}/hrs </td>
                            </tr>
                            <tr>
                                <td class="odd">Hasta:</td>
                                <td class="even"> {{event.end|time}}/hrs </td>
                            </tr>

                        </tbody>
                    </table>    
                    <hr>
                    <h3> {% trans "Price" %} </h3>
                                        
                    <table border="0" cellpadding="0" cellspacing="0" class="price-table">
                        <tbody> 
                            <tr>
                                <td class="odd">{{event.unit.value}} {{event.unit.name}}</td>
                                <td class="even"> {{event.price|intcomma}} </td>
                            </tr>
                        </tbody>
                    </table>    
                    <hr>
                    <h3> {% trans "Terapeuta" %} </h3>
                    <table border="0" cellpadding="0" cellspacing="0" class="price-table">
                        <tbody> 
                            <tr>
                                <td class="odd">{{event.exhibitor}}</td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
            </div>
            
            <div class="column two-third last">            
                <p> 
                    {{ event.description|safe }}
                </p>             
                   
                   {% render_placeholder event.content language placeholder_language %}
        
                <div class="hr_invisible"> </div>          
                <a href="" class="big-ico-button red book "> <span> {% trans "Reserva Aquí" %} </span> </a>                
<!--  -->            </div>
            
            <div class="hr"> </div>
            
            <div class="clear"> </div>






   </div>
   </div>


            
<div class="hr_invisible"> </div>





{% endblock %}
